* {
  border: 0;
  margin: 0;
  padding:0;
  font-family: 'Kanit', sans-serif;
}

/** hero text and nav bar **/
nav {
  background-color: #0f8099;
  color: white;
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  padding-left: 100px;
  padding-right: 200px;
}

ul {
  list-style: none;
   
}

li {
  padding-right: 60px;
  display: flex;
  gap: 20px;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: darkblue;
}


/* about me with images */

